/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utility*/
body {
    padding-top: 130px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1400px; /* max-width? */
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

.bg-red {
    background-color: red;
    

}

.bg-green {
    background-color: green;
    
}

/*HEADER*/

header {
    height: 70px ;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.nav-bar.flex {
    height: 100%;
    align-items: center;
}

.category.flex {
    width: 25%;
    gap: 10px;
}

.category a {
    font-size: 18px;
    font-weight: bold;
}

.logo-container {
    width: 50%;
    text-align: center;
}

.logo {
    height: 30px;
}

.font-awesome {
    width: 25%;
    text-align: right;
}

i.header {
    color: white;
}

/*MAIN*/



/*bg-image*/
.row.flex {
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    width: calc(100% /3 - 2rem) ;
    height: 650px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 70px;
}

/*Immagini prodotti*/

.relaxed-fit-tee-unisex {
    background-image: url(img/1.webp);
}
.relaxed-fit-tee-unisex:hover {
    background-image: url(img/1b.webp);
}

.rose-tee {
    background-image: url(img/2.webp);
}
.rose-tee:hover {
    background-image: url(img/2b.webp);
}

.pastello {
    background-image: url(img/3.webp);
}
.pastello:hover {
    background-image: url(img/3b.webp);
}

.tee-unisex {
    background-image: url(img/4.webp);
}
.tee-unisex:hover {
    background-image: url(img/4b.webp);
}

.stipe-bodice {
    background-image: url(img/5.webp);
}
.stipe-bodice:hover {
    background-image: url(img/5b.webp);
}

.espirit {
    background-image: url(img/6.webp);
}
.espirit:hover {
    background-image: url(img/6b.webp);
}



.heart {
    font-size: 35px;
    background-color: white;
    padding: 5px 15px;
    position: absolute;
    right: 0;
    top: 10px;
}

.heart:hover {
    color: red;
}

.box {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    bottom: 40px;
}

.discount > .sustainability {
    left: 60px;
    bottom: 0;
}

/*Descrizione prodotto*/
.description-product {
    position: absolute;
    bottom: -50px;
}

.product {
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    font-size: 14px;
}

.new.price {
    color: red;
    font-weight: bold;
}

.old.price {
    text-decoration: line-through;
}

/*FOOTER*/
footer {
    background-color: #1a1a1a;
    height: 100px;
}

footer > .container.flex {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

h4, h3{
    color: white;
}

.left-footer > a {
    font-size: 14px;
    line-height: 2rem;
}

.icon-footer {
    line-height: 2rem;
    margin-right: 5px;
    font-size: 20px;
}

